!!!5
html(lang="en")
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(charset='utf-8')
		link(href="/css/bootstrap.min.css" rel="stylesheet")
		link(href="/css/stopwatches.css" rel="stylesheet")
		title Stopwatches
	body
		h1 testes
		#sw-container
	footer
		script(src="https://code.jquery.com/jquery.js")
		script(src="js/bootstrap.min.js")
		script(src="js/stopwatches.js")